<!-- templates/transaction/add_transaction.html -->
{% extends 'base.html' %}

{% block title %}거래 추가{% endblock %}

{% block content %}
    <h1>거래 내역 추가</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}  <!-- 폼 필드 렌더링 -->
        {% if form.errors %}
            <ul>
                {% for field, errors in form.errors.items %}
                    <li>{{ field }}: {{ errors|join:", " }}</li>
                {% endfor %}
            </ul>
    {% endif %}
        <button type="submit">추가</button>
    </form>
{% endblock %}